In [6]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

base_url = 'http://books.toscrape.com/catalogue/category/books/nonfiction_13/index.html'
url = base_url
page_number = 1
titles = []
prices = []
availabilities = []

while True:
    response = requests.get(url)

    if response.status_code == 200:
        soup = BeautifulSoup(response.content, 'html.parser')
        books = soup.find_all('article', class_='product_pod')

        for book in books:
            titles.append(book.h3.a['title'])
            prices.append(book.find('p', class_='price_color').get_text())
            availabilities.append(book.find('p', class_='instock availability').get_text().strip())

        next_page = soup.find('li', class_='next')

        if next_page:
            page_number += 1
            url = f"{base_url.replace('index.html', '')}page-{page_number}.html"
        else:
            break
    else:
        print('Failed to retrieve the page.')
        break
data = {
    'Title': titles,
    'Price': prices,
    'Availability': availabilities
}
df = pd.DataFrame(data)
df.to_csv('non_fiction_books.csv', index=False)

In [7]:
df

                                                 Title   Price Availability
0    Worlds Elsewhere: Journeys Around Shakespeare’...  £40.30     In stock
1    The Five Love Languages: How to Express Heartf...  £31.05     In stock
2                                Reasons to Stay Alive  £26.41     In stock
3    #HigherSelfie: Wake Up Your Life. Free Your So...  £23.11     In stock
4    Unseen City: The Majesty of Pigeons, the Discr...  £44.18     In stock
..                                                 ...     ...          ...
105                                      H is for Hawk  £57.42     In stock
106         Travels with Charley: In Search of America  £57.82     In stock
107                                          The Tumor  £41.56     In stock
108     The End of the Jesus Era (An Investigation #1)  £14.40     In stock
109                                    Eat, Pray, Love  £51.32     In stock

[110 rows x 3 columns]

In [ ]:
df